<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <style>
    body {
      padding: 50px;
    }
  </style>
  <title>Deno Login/Register</title>
</head>

<body>
  <div class="container" style="max-width: 30rem">
    <h1>Welcome</h1>
    <a href="/login" class="btn btn-primary">Login</a>
    or
    <a href="/register" class="btn btn-success">Register</a>
  </div>
</body>

</html>