<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <style>
    body {
      padding: 50px;
    }
  </style>
  <title>Deno Login/Register</title>
</head>

<body>
  <div class="container" style="max-width: 30rem">
    <h1>Login to your account</h1>
    <% if (error) { %>
      <div class="alert alert-danger">
        <%= error %>
      </div>
    <% } %>
    <form action="/login" method=post>
      <div class="form-group">
        <label>Username</label>
        <input type="text" name="username" class="form-control" required>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" name="password" class="form-control" required>
      </div>
      <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-primary">Login</button>
        <div>
          <a href="/register">Create new account</a>
        </div>
      </div>

    </form>
  </div>
</body>

</html>